@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(0, 43, 34);
  background: linear-gradient(
    0deg,
    rgba(0, 43, 34, 1) 0%,
    rgba(14, 61, 70, 1) 50%,
    rgba(0, 43, 34, 1) 100%
  );
  @apply text-gray-200 font-medium min-h-screen;
}

.app {
  min-height: calc(100vh - 114px);
  /* @apply flex items-center justify-center; */
}

.btn {
  @apply bg-teal-800 hover:bg-teal-900 px-4 shadow-md py-2 h-max ease-in-out duration-300;
}

.btn:disabled {
  @apply bg-gray-500 cursor-not-allowed;
}

input {
  @apply text-slate-800 font-bold;
}

.main-form-header {
  @apply text-6xl font-bold my-12 text-center;
}

/* SVG Animation for form validty */
.svg {
  display: block;
  width: 100px;
  margin: 4rem auto;
}

.svg .check {
  stroke: #cc181e; /*red*/
  stroke: green; /*blue*/
  fill: none;
  stroke-width: 12;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: check 0.75s linear forwards;
}

.svg .box {
  stroke: #cc181e; /*red*/
  stroke: green; /*blue*/
  stroke-width: 12;
  fill: none;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 1s linear forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: -400;
  }
  100% {
    stroke-dashoffset: 400;
  }
}

@keyframes check {
  0% {
    stroke-dashoffset: -400;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
